body.block-editor-page {
  font-family: Inter, system-ui, sans-serif;
}

.editor-styles-wrapper {
  color: #111111;
}

.editor-styles-wrapper .wp-block[data-align="wide"],
.editor-styles-wrapper .wp-block.alignwide {
  max-width: 1920px;
}

.editor-styles-wrapper .wp-block {
  max-width: 1500px;
}

.editor-styles-wrapper .wp-block[data-type="groundwrk/hero"] h1 {
  font-size: clamp(3rem, 6vw, 5rem);
  line-height: 0.98;
}
.editor-styles-wrapper .max-width-text{
  max-width: 233px !important;
}

.editor-styles-wrapper .foot-inner__tagline-subtext{
  max-width: 340px !important;
}
.editor-styles-wrapper .build-container{
  padding-left: 15px;
}
.editor-styles-wrapper .info-row-container{
  padding-left: 15px;
}
.editor-styles-wrapper .pricing__left{
  padding-left: 15px;
}
.editor-styles-wrapper .question-demo-block {
  height: 700px;
  max-width: 340px !important;
  border: 21px solid #29D6A7;
  border-radius: 43px;
  overflow: hidden;
  position: relative;
}

.editor-styles-wrapper .question-demo-block::before{
  content: '';
  position: absolute;
  width: 228px;
  height: 25px;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background: #29D6A7;
  border-radius: 0px 0px 20px 20px;

}
